.navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 50px 0 50px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.column1 {

}

.column1 .A {
    font-size: 50px;
}

.column1 .r {
    color: aqua;
}

.column2 {
    width: 300px;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    display: flex;
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

.column3 {

}

.column3 input {
 border-style: solid;
 padding: 6px 8px;
}

.column3 button {
    border: none;
    padding: 8px 10px;
    border-radius: 3px;
    background-color: black;
    color: aqua;
}